<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiadocSDK" version="2.67.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.13.0" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="19.7.0" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net461" />
</packages>