<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigSet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ConfigSet.Properties.Settings>
            <setting name="DataBaseUser" serializeAs="String">
                <value>edi</value>
            </setting>
            <setting name="CipherDataBasePassword" serializeAs="String">
                <value>uex`QiqiKZ#oirqq*^krGYpan]k&amp;rr?vwgig+tlb</value>
            </setting>
        </ConfigSet.Properties.Settings>
    </userSettings>
</configuration>